img {
  max-width: 100%;
}

.navbar-light .navbar-brand img {
  max-width: 250px;
}

.navbar.navbar-light.navbar-expand-md {
  padding: 15px 0;
}

body {
  color: #000;
  font-family: Arial;
  font-size: 14px;
}

.navbar .nav .nav-contact-btn a {
  background: #3fa715;
  color: #fff;
  border-color: #3fa715;
  margin-left: 15px;
}

.nav {
}

.navbar-light .navbar-nav .nav-link {
  font-size: 20px;
  font-weight: 400;
  padding: 15px 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #428bca;
  cursor: pointer;
}

.navbar .nav .nav-contact-btn a:hover {
  background: #44b316;
  color: #fff;
}

.btn:not(:disabled):not(.disabled) {
}

.site-banner {
  text-align: center;
  background: url('../../assets/img/banner.jpg');
  position: relative;
  padding: 60px 0;
  background-position: center center !important;
  background-size: cover !important;
}

.site-banner h2. {
}

.banner-haeding p {
  margin-bottom: 65px;
}

.banner-heading p {
  margin-bottom: 65px;
  font-size: 28px;
  color: #fff;
}

.why-us-content button.why-us-btn {
  min-height: 75px;
  font-size: 20px;
  margin: auto;
  padding: 10px;
}

.about-btn {
  text-align: center;
}

.why-us-content ul {
  margin-bottom: 55px;
}

.site-banner:after {
  background: #00325e;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  opacity: .80;
}

.site-banner .container {
  position: relative;
  z-index: 1;
}

.banner-heading h2 {
  margin-bottom: 25px;
  font-size: 38px;
  font-weight: 400;
  color: #fff;
  line-height: 44px;
  margin-top: 15px;
}

.site-banner .banner-btn {
  min-height: 80px;
  min-width: 294px;
  font-size: 32px;
  margin: 0 70px;
  padding: 20px 20px;
  background: #3fa715;
  border-color: #3fa715;
}

.feature-wrapper {
  padding: 40px 0 60px;
}

.feature-wrapper h2.section-title {
  font-size: 24px;
  color: #797979;
  font-style: italic;
  line-height: 44px;
  margin: 0 0 0 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-logo-container ul li {
  display: inline-block;
  padding: 0 10px;
  max-width: 180px;
}

.feature-wrapper hr {
  margin: 30px 0;
  border-top: 1px solid rgba(0,0,0,.2);
}

h3.why-us-head {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  margin: 0 0 20px 0;
}

.why-us-content ul li {
  position: relative;
  padding: 0 0 10px 20px;
  font-size: 20px;
}

.why-us-content ul li:before {
  content: "";
  background: #000;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 12px;
}

.btn-primary {
  background: #3fa715;
  border-color: #3fa715;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3fa715;
  border-color: #3fa715;
}

.about-btn .btn {
  font-size: 20px;
  padding: 12px 16px;
  min-width: 300px;
}

.about-btn .btn span {
  display: block;
}

.btn-primary:hover {
  border-color: #00325e;
  background: #00325e;
}

.flexslider ul li img {
  max-width: 90px;
}

.flex-control-thumbs li img {
  max-width: 80px;
}

.flex-control-thumbs li {
  width: auto;
  float: none;
  margin: 0;
  display: inline-block;
  padding-right: 12px;
}

.flex-control-thumbs {
  text-align: left;
}

ul.flex-direction-nav {
  display: none;
}

.testimonial-wrapper .flexslider {
}

.testimonial-wrapper {
  background: #eee;
  position: relative;
  padding: 60px 0 30px;
}

.our-client-wrapper {
  padding: 160px 0 50px 0;
}

.our-client-wrapper h2.section-title {
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 25px;
}

.our-client-wrapper .partner-logo-thumb {
  margin-bottom: 8px;
  padding: 2px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partner-logo-thumb img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  max-width: 150px;
}

.our-client-wrapper .partner-logo-thumb:hover img {
  -webkit-filter: none;
  filter: none;
}

.testimonial-inner p {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 15px;
}

.testimonial-inner h2 {
  font-style: italic;
  font-size: 32px;
  margin-bottom: 10px;
}

.testimonial-inner h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 3px 0;
}

.testimonial-info {
  margin-bottom: 20px;
}

.testimonial-wrapper .flex-control-thumbs {
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  bottom: -140px;
}

.our-client-wrapper .container {
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding-bottom: 50px;
}

.winning-process-wrapper h2.section-title {
  margin: 20px 0;
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
}

.winning-process-content h6 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.winning-process-content .content-block {
  margin-bottom: 20px;
}

.winning-process-content {
  font-size: 16px;
}

.winning-process-content ul li:after {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 5px;
  position: absolute;
  left: 4px;
  background: #000;
  top: 10px;
}

.winning-process-content ul li {
  position: relative;
  padding: 1px 0 0 20px;
}

.winning-process-content p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 20px;
}

.winning-process-content ul.number-list {
  margin-bottom: 45px;
  counter-reset: section;
}

.winning-process-content h5 {
  line-height: 20px;
  font-size: 22px;
  margin: 0;
  font-weight: 400;
}

.winning-process-content ul.number-list li:after {
  counter-increment: section;
  content: counters(section, ".") ". ";
  height: auto;
  width: auto;
  border-radius: 0;
  background: transparent;
  top: 1px;
  left: 0;
}

.winning-process-content ul.number-list li:after {
  counter-increment: section;
  content: counters(section, ".") ". ";
  height: auto;
  width: auto;
  border-radius: 0;
  background: transparent;
  top: 1px;
  left: 0;
}

ol.number-list {
  padding: 0 0 0 17px;
  margin: 0 0 40px 0;
}

.winning-process-wrapper {
  padding: 0 0 60px 0;
}

.btn-action .btn-primary {
  font-size: 20px;
  padding: 20px 16px;
  min-width: 300px;
}

.site-footer {
  background: #00325e;
  padding: 30px 0px;
}

.footer-nav {
  color: #fff;
}

.footer-nav ul br {
  display: none;
}

.footer-nav h3 {
  font-size: 16px;
  margin: 0;
  line-height: 20px;
}

.footer-nav ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

footer .footer-soci li a {
  display: block;
  background: #fff;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  color: #000;
  border-radius: 4px;
  font-size: 22px;
  text-align: center;
  line-height: 42px;
}

.footer-soci li {
  float: left;
  width: 50%;
}

.footer-contact .btn-primary {
  display: block;
  width: 100%;
  background: #3fa715;
  padding: 25px 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 24px;
  position: relative;
  top: 15px;
  margin-bottom: 0px;
  text-align: center;
}

.footer-bottom {
  padding: 10px 0;
}

<div class="footer-bottom" > <div class="container" > <div class="row" > <div class="col" > <p > Copyright ConversionMax 2008 - 2018<br / > </p > </div > <div class="col text-center" > <p > <em > Happily located in Bend, OR</em > <br / > </p > </div > <div class="col" > <div class="text-right" > <p > We respect your privacy!<a href="#" > <br / > Privacy Policy<br / > </a > </p > </div > </div > </div > </div > </div > .text-right {
}

.footer-bottom .text-right p br {
  display: none;
}

.footer-bottom .text-right p a {
  padding-left: 6px;
  text-decoration: underline;
  color: #000;
}

.footer-bottom p {
  margin: 0;
}

